.full-width {
	text-align: center;
}
.ui-toggle {
	border-radius: 6px;
	display: inline-block;
	height: 36px;
	margin-top: 6px;
	position: relative;
	width: 120px;
}
	.ui-toggle.on-off {
		/* background-image: url(images/ui-button-on-off-slide.png); */
	}
	.ui-toggle.on-off:before, .ui-toggle.on-off:after {
		box-shadow: inset 0 0 5px rgba(0,0,0,0.5);
		font: bold 16px/38px Helvetica;
		height: 100%;
		position: absolute;
		text-transform: uppercase;
		width: 50%;
		z-index: 1;
	}
	.ui-toggle.on-off:before {
		background: #32A6E8; /* Old browsers */
		border-radius: 6px 0 0 6px;
		color: #FFFFFF;
		content: "On";
		left: 0;
		text-shadow: 1px 1px 0 rgba(100,100,100,0.75);
	}
	.ui-toggle.on-off:after {
		background: #B1B8BD;
		border-radius: 0 6px 6px 0;
		color: #565656;
		content: "Off";
		right: 0;
		text-shadow: 1px 1px 0 rgba(255,255,255,0.75);
	}
	.ui-toggle i {
		background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(top, #ffffff 0%, #e3e3e3 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e3e3e3)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #ffffff 0%,#e3e3e3 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #ffffff 0%,#e3e3e3 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #ffffff 0%,#e3e3e3 100%); /* IE10+ */
		background: linear-gradient(to bottom, #ffffff 0%,#e3e3e3 100%); /* W3C */
		border: 1px solid #a9a9a9;
		border-radius: 5px;
		box-shadow: inset 0 -1px 3px white;
		content: "";
		height: 100%;
		margin-top: -3px;
		padding: 2px 0;
		position: absolute;
		text-indent: -9999px;
		top: 0;
		-webkit-transition: left 200ms linear;
		   -moz-transition: left 200ms linear;
				transition: left 200ms linear;
		width: 50px;
		z-index: 5;
	}
	.ui-state-on i {
		left: 56px;
	}
	.ui-state-on:hover i, 
	.ui-state-off:hover i {
		background: #f9f9f9; /* Old browsers */
		background: -moz-linear-gradient(top, #f9f9f9 0%, #dddddd 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9f9f9), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #f9f9f9 0%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #f9f9f9 0%,#dddddd 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #f9f9f9 0%,#dddddd 100%); /* IE10+ */
		background: linear-gradient(to bottom, #f9f9f9 0%,#dddddd 100%); /* W3C */
	}
	.ui-state-off i {
		left: 14px;
	}

/* ADMIN */
#ToggleForm .form-field input { width: 25em; }

.toggle-preview {
	display: inline-block;
	height: 40px;
	width: 60px;
}
.toggle-preview.on-off {
	background: url(images/ui-screenshot.png) 50% 20% no-repeat;
	background-size: contain;
}

li#toplevel_page_custom-field-toggle .wp-menu-image br {
	background: url(images/ui-admin-icon.png) top left no-repeat;
	content: "";
	display: block;
	height: 16px;
	margin: 6px 7px;
	width: 16px;
}
li#toplevel_page_custom-field-toggle a:hover .wp-menu-image br,
li#toplevel_page_custom-field-toggle a.current .wp-menu-image br {
	background-position: top right;
}